.banner-container{
    background-image: url('https://wallpaperaccess.com/full/2703652.png');
    height:90vh;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: end;
}
.content{
    position: absolute;
    bottom: 150px;
    left: 40px;
}
.title{
    font-size: 3rem;
    max-width: 60%;
}
.description{
    max-width: 550px;
    margin-right: 20px;
}
.btns-container{
    margin-top: 30px;
}
.btn-play{
    all: unset;
    background-color: #fff;
    color:#000;
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 30px;
    font-weight: bold;
}
.fa-play,
.fa-plus{
    margin-right: 10px;
    font-size: 1em;
}
.btn-list{
    all: unset;
    padding: 8px 20px;
    border-radius: 5px; 
    background-color:#5b5b5b;
    font-weight: bold;
}
.shadow{
    height: 250px;
    width: 100vw;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}